<tbody id="person_form">
<tr>
    <th colspan="2">Exempt Course To Student</th>
</tr>
<tr>
	<td>
		<span type="form" name="course_exemption:registration" />		
		<span type="form" name="course_exemption:training" showhead="default"></span>
		<span type="form" name="course_exemption:date_exempted" showhead="default"></span>
	</td>
	<td>
		<span type="form" name="course_exemption:exemption_reason" showhead="default"></span>
		<span type="form" name="course_exemption:training_institution" showhead="default"></span>
    </td>
</tr>
</tbody>