<div id="siteContent">
    <h1 class="header">Add Program Course</h1>
    <div id="error" />
    <form  method="post" action="add_training_course">
    <span type="form" name="training:id"></span>
<div id="form">
     
    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <th colspan="2">Details</th>
    </tr>
  <tr id="list_fields">
    <td class="formdata">
    	<span type="form" name="training:training_institution" />
      <span type="form" name="training:name" showhead="default"></span>
      <span type="form" name="training:code" showhead="default"></span>
      <span type="form" name="training:course_credits" showhead="default"></span>
      <span type="form" name="training:theory_credits" showhead="default"></span>
      <span type="form" name="training:practice_credits" showhead="default"></span>
      <span type="form" name="training:theory_hours" showhead="default"></span>
      <span type="form" name="training:practice_hours" showhead="default"></span>
      <span type="form" name="training:training_program" showhead="default"></span>
      <span type="form" name="training:course_type" showhead="default"></span>
      <span type="form" name="training:training_institution" showhead="default"></span>
      <span type="form" name="training:academic_level" showhead="default"></span>
      <span type="form" name="training:semester" showhead="default"></span> 		          
      <span type="form" name="training:corequisite" showhead="default" display="checkbox"></span>
      <span type="form" name="training:prerequisite" showhead="default" display="checkbox"></span>     
    </td>
    <td class="formdata">      
      <span type="form" name="training:training_course_exam_type" showhead="default" display="checkbox"></span>
      <span type="form" name="training:clinical" showhead="default"></span>
      <span type="form" name="training:practical" showhead="default"></span>
      <span type="form" name="training:project" showhead="default"></span>
      <span type="form" name="training:test" showhead="default"></span>
      <span type="form" name="training:test1" showhead="default"></span>
      <span type="form" name="training:test2" showhead="default"></span>
      <span type="form" name="training:assignments" showhead="default"></span>
      <span type="form" name="training:final" showhead="default"></span>
      <span type="form" name="training:presentation" showhead="default"></span>
      <span type="form" name="training:planning_implementation_evaluation" showhead="default"></span>
      <span type="form" name="training:community_and_diagnosis" showhead="default"></span>
      <span type="form" name="training:recommendations" showhead="default"></span>
      <span type="form" name="training:final_field_report" showhead="default"></span>
      <span type="form" name="training:case_study" showhead="default"></span>
      <span type="form" name="management_role_practicum" showhead="default"></span>
    </td>

  </tr>
<tr class="submitCell">
        <td colspan="2">
            <div id="button" />
        </td>
    </tr>
</table>
</div>
</form>
</div>
