<tbody id="person_form">
<tr>
    <th colspan="2">Postponed Courses To Be Retaken With This Student In A Semester</th>
</tr>
<tr>
	<td>
		<span type="form" name="retake_postponed:registration" />		
		<span type="form" name="retake_postponed:training" showhead="default"></span>
		<span type="form" name="retake_postponed:semester" showhead="default"></span>
	</td>
	<td>
		<span type="form" name="retake_postponed:postponed_reason" showhead="default"></span>
		<span type="form" name="retake_postponed:training_institution" showhead="default"></span>
    </td>
</tr>
</tbody>