<div task='person_can_view_child_form_course_exemption'>
	<div class="editRecord">
    <p>Edit This Information</p>
    <ul id="edit">
	  
    </ul>
  </div> <!-- editRecord -->
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
	<th colspan="2">Student Course Exemption</th>
      </tr>
      <span type="form" name="retake_postponed:training" showhead="default"></span>
		<span type="form" name="retake_postponed:semester" showhead="default"></span>
		<span type="form" name="retake_postponed:postponed_reason" showhead="default"></span>
		<span type="form" name="retake_postponed:training_institution" showhead="default"></span>
    </table>
</div> <!-- dataTable -->
</div>
