<div id="manageIndex">
<h1>Manage People</h1>
<div task='person_can_edit'>
  <h2><a href="person" class="createRecords">Add Student</a></h2>
  <p>
      To track a person in the database, add a
      record for that person. Certain information is required to start a new record. 
      Once the record is generated, additional options for adding data about the person 
      will become available. 
  </p>

  <hr />
</div>
<div task='person_can_edit'>
  <h2><a href="import" class="createRecords">Import Student</a></h2>
  <p>
      Import students lists received in Microsoft Excel files from the institutions. 
  </p>

  <hr />
</div>
<div type="module" name="Lecturers" ifenabled="true">
  <div  task="can_add_lecturer">
  <h2><a href="add_lecturer" class="createRecords">Add Staff</a></h2>
  <p>
	This allows to create a new Lecturer,Principal,Deputy Principal,Registrar,Academic Administrator,Level Coordinator etc.  
  </p>
  </div>
</div>
<div type="module" name="TransferStudents">
<div task="can_transfer_student">
<h2><a href="transfer_options" class="editRecords">Transfer Student	</a></li></h2>
<p>
Transfer A Student From One AHTI To Another Or Within AHTI
</p>
</div>
</div>
<div type="module" name="RejoiningStudents">
<div task="can_rejoin_student">
<h2><a href="rejoining_student" class="editRecords">Rejoin Student	</a></li></h2>
<p>
Rejoin A Student Who Was Previously Discontinued Or Failed And Excluded Or Dropped At The Mid Of The Semester Or Suspended.
</p>
</div>
</div>
</div>
