<div id="siteContent">
    <h1 class="header">Select Transfer Options</h1>
    <div id="error" />
<div id="form">
     
    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <th colspan="4">Transfer Options</th>
    </tr>
<tr id="list_fields">
	<td><a href="transfer_ahti?from=another" >1. Transfer KCN Student</a></td>
</tr>
<tr id="list_fields">
	<td><a href="transfer_non_ahti" >2. Transfer A Student From Other Recognised Institutions</a></td>
</tr>
</table>
</div>
</div>
