<div task='can_view_bond'>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <span >
	<li  task='can_edit_bond'>
	  <span  type="form" 
		 name="bond:id" 
		 href="bond?id=" 
		 parent='true'>
	    Correct this Information
	  </span>
	</li>
      </span>
    </ul>
  </div> <!-- editRecord -->

 <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
	<th colspan="2">Bonding Period Details</th>
      </tr>
      <span type="form" name="bond:sponsor" showhead="default"></span>
      
      <span type='form' name="bond:start_date" showhead="default" class="even"></span>
      <span type='form' name="bond:end_date" showhead="default"></span>
    

    </table>
  </div> <!-- dataTable -->
